@import "sass/Helpers/footer";
@import "sass/Helpers/team";
@import "sass/Helpers/portfolio";
@import "sass/Helpers/contact";


//Constants:

$value: 300ms;
$minimumValue: 300;
$firstValue: 500;
$secondValue: 600;
$nothing: none;
$yellow: yellow;
$white: white;
*{
    p {
        font-family: "Droid-sans";
    }
}

/*HEADER*/

#header {
    #menu.active {
        background-color: blue;
    }
    .navbar-default {
        background-color: rgba(0,0,0,0);
        border-color: rgba(0,0,0,0);
        padding: 7px;
        margin: 0;
    }
    .navbar-nav {
        padding: 14px 0;
        li > a {
            font-family: "Montserrat";
            color: $white;
            &:hover, &:focus {
                color: #fec503;
            }
        }
        .active {color: $white;}
    }
    .navbar-toggle {
        border: 1px solid $yellow;
        background-color: $yellow;
        margin-top: 22px;
        box-shadow: 2px 2px 7px $yellow;
        .icon-bar {
            background-color: $white;
        }
    }
    .navbar-collapse {
        
    }
    .navbar-brand {
        h1 {
            font-family: 'Kaushan Script';
            font-size: 30PX;
            color: #fec503;
        }
    &:hover, &:focus {
        color: #fec503;
        }
    }
}
#banner{
    background: url(../../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    color: white;
    padding: 17.5% 0;
    .box-text {
        h3 {
            font-size: 40px;
            margin: 60px 0 50px;
            margin-bottom: 5px;
            font-family: "Droid-sans","Sans serif";
            padding-top: 10px;
            font-style: italic;
        }
        h1 {
             font-size: 75px;
            font-family: "Montserrat";
            font-weight: bold;
            padding-bottom: 30px;  

        }
    }
}

.botonyellow {
    padding: 1.7% 2.6%;
    background-color: #fec503;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #fec503;
    font-size: 18px;
    &:hover {
        background: #fec503;
    }
}
/*Service*/
#services {
    h2 {
        font-weight: bold;
        padding-top: 9%;
        padding-bottom: 1%;
        font-family: "Montserrat";
    }
    p {
        color: gray;
        padding-bottom: 6%;
    }
    a {
        display: inline-block;
        background-color: #FED136;
        height: 90px;
        width: 90px;
        border-radius: 100%;
        font-size: 54px;
        color: white;
        outline: none;
        line-height: -1px;
        margin-right: 2%;
    }
    h5 {
        font-weight: bold;
        font-family: "Montserrat";
        padding-top: 4%;

    }
}
#services {
    .col-md-4 {
        p {
            padding-bottom: 35%;
        }
    }
}
/*Fase1*/
.fase1 {
    background-color: #f7f7f7;
    padding-top: 9%;
    padding-bottom: 9%;
    img {
        width: 95%;
    }
    h2 {
        font-weight: bold;
        font-family: "Montserrat";
    }
    p {
        color: gray;
        padding-bottom: 6%;
    }
    .imagenes {
        background-color: white;
        width: 95%;
        position: relative;
        right: -2.5%;
        margin-bottom: 5%;
    }
    h5 {
        font-weight: bold;
        margin-top: 0;
        padding-top: 4%;
    }
    h6 {
        color: gray;
        padding-bottom: 5%;
    }
}
/*logos*/
.logos {
    img {
        padding-top: 12%;
        padding-bottom: 12%;
    }
}
/*About*/
.about {
    padding-bottom: 9%;
    h2 {
        padding-top: 7%;
        font-weight: bold;
    }
    p {
        padding-bottom: 4%;
    }
    h4 {
        padding-bottom: 4%;
        font-weight: bold;
    }
}