/*Contact-us*/
.contact {
    background-color: #222222;
    padding-bottom: 12%;
    padding-top: 8%;
    background-image: url("../../img/map-image.png");
    background-position: normal;
    background-repeat: no-repeat;
    .margen{
        padding-bottom: 3%;
    }
    h2{
        color: white;
        font-family: "Montserrat";
        font-weight: bold;
    }
    p {
        color: gray;
    }
    input {
        width: 90%;
        margin-bottom: 2%;
        height: 50px;
    &:nth-child(1) {
        margin-top: 10%;
    }
    }
}
textarea {
    width: 90%;
    height: 165px;
    margin-top: 10%;
    margin-bottom: 3%;
    text-align: center;
}
.btn2 {
    margin-top: 8%;
    padding: 1.6% 3%;
    background-color: #FED136;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    &:hover {
        text-decoration: none;
        color: white;
        background-color: #FED140;
    }
}